fastapi
uvicorn[standard]
python-multipart
PyMuPDF
python-docx
python-pptx
pandas
pillow
requests
pymongo
aiofiles
numpy
python-dotenv
transformers
accelerate
datasets
bitsandbytes
peft
lxml
rdkit-pypi
scikit-learn
tensorflow-cpu